@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunitosans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

#sortButton {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease;
    margin-left: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

#sortButton::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: border-color 0.2s ease;
}

#sortButton.up::after {
    border-bottom: 8px solid #888;
}

#sortButton.down::after {
    border-top: 8px solid #888;
}

#sortButton:hover {
    transform: scale(1.1);
}

.wrapper {
    display: flex;
    transition: margin-left 0.3s ease;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: width 0.3s ease, left 0.3s ease;
    position: fixed;
    left: -200px;
    top: 0;
    bottom: 0;
    z-index: 1000;
    font-family: 'Nunito Sans', sans-serif;
}

.content {
    flex: 1;
    margin-left: 0;
    padding-top: 60px;
    transition: margin-left 0.3s ease;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    transition: left 0.3s ease;
}

.sticky-header.opened-sidebar {
    left: 250px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #222;
    z-index: 998;
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0;
}

.open-sidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}

.search-icon {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #666;
}

#search-bar {
    padding: 12px 12px 12px 40px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    min-width: 100px;
}

#search-bar:focus {
    outline: none;
}

main {
    padding-top: 60px;
    transition: margin-left 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.details-container {
    display: flex;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 20px;
    max-width: 95%;
    width: 600px;
    border-radius: 10px;
    position: relative;
}

.details-container a {
    color: #fff;
}

.details-container a:hover {
    color: #CCC;
}

.card-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
    aspect-ratio: 1;
    object-fit: cover; 
    object-position: center;
    overflow: hidden;
    border-radius: 30px;
}

.card-image.star3 {
    border: 3px solid #ff265a;
}

.card-image.star2 {
    border: 3px solid #fbff5c; 
}

.card-image.star1 {
    border: 3px solid #5d8aff;
}


.card-image.foil {
    position: relative;
}

.card-image.foil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background-image: url('foil.png');
    background-size: 300% 300%;
    opacity: 0.5;
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 2;
    background-repeat: repeat;
    border-radius: 10px;
    animation: scrollTile 10s linear infinite;
}

.details {
    flex: 1;
}

.image-container {
    position: relative;
}

.details-info {
    flex-direction: column;
    margin-left: 20px;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #fff;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

#results {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    position: relative;
    width: 135px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1px 1px 0 0;
    height: auto;
    aspect-ratio: 1;
}

.star-overlay {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    color: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    font-size: 22px;
    text-shadow: 
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1);
    font-weight: bold;
    transition: transform 0.2s;
    z-index: 6;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    pointer-events: none;
}

.card .card-content {
    flex: 1;
}

.card.star3 {
    border: 3px solid #ff265a;
}

.card.star2 {
    border: 3px solid #fbff5c; 
}

.card.star1 {
    border: 3px solid #5d8aff;
}


.card .value {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    transition: transform 0.2s;
    text-shadow: 
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: bold;
    z-index: 5;
    pointer-events: none;
}

.card .name-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    background-color: rgba(56, 56, 56, 0.7);
    color: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.2s;
    z-index: 6;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    pointer-events: none;
}

.card:hover .name-box {
    transform: translateY(0%) ;
}

.card.foil .name-box {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.7);
    color: transparent;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    overflow: hidden;
    z-index: 6;
    animation: rainbow-text 3s linear infinite;
}

@keyframes rainbow-text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.card.foil .name-box::before {
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255,140,140,1) 0%, rgba(251,168,152,1) 4%, rgba(249,197,159,1) 8%, rgba(249,219,159,1) 16%, rgba(235,249,159,1) 23%, rgba(167,249,159,1) 31%, rgba(163,249,177,1) 39%, rgba(159,249,219,1) 46%, rgba(159,238,249,1) 53%, rgba(159,197,249,1) 61%, rgba(172,159,249,1) 70%, rgba(231,159,249,1) 79%, rgba(249,159,215,1) 87%, rgba(249,159,177,1) 94%, rgba(255,140,140,1) 100%);
    background-size: 200% 100%;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-bg 3s linear infinite;
}

@keyframes rainbow-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 100%;
    }
}

.card.burned { /* not used anymore but still keeping this because it looked so cool and i might use it */
    filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(600%);
}

.card.foil {
    position: relative;
}

.card.foil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background-image: url('foil.png');
    background-size: 300% 300%;
    opacity: .5;
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 2;
    background-repeat: repeat;
    border-radius: 10px;
    animation: scrollTile 10s linear infinite;
}

@keyframes scrollTile {
    0% {
        background-position: 300% 300%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.card .card-id {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    transition: transform 0.2s;
    text-shadow: 
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1),
        0 0 3px rgba(0, 0, 0, 1);
    color: #fff;
    z-index: 4;
    font-weight: bold;
    pointer-events: none;
}

.tab {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 10px;
    font-size: 16px;
    color: #aaa;
}

.tab:focus {
    background-color: #555;
    color: #BBB;
}

#results:hover + .scroll-indicator {
    display: block;
}

.tab:hover {
    background-color: #555;
}

.subcategory {
    padding-left: 20px;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
}

.subcategory button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 10px;
    font-size: 16px;
    color: #aaa;
}

.subcategory button:hover {
    background-color: #555;
}

.subcategory button:focus {
    background-color: #555;
    color: #BBB;
}


.subcategory.active {
    max-height: 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.dropbtn {
    background-color: #222;
    color: #aaa;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    width: 160px;
    transition: background-color 0.3s, transform 0.2s ease, border-color 0.3s;
    user-select: none;
}

.text-display {
    background-color: #222;
    color: #aaa;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease, border-color 0.3s;
}

#profile-name, #profile-cs, #profile-ranking{
    display: none;
    overflow: hidden;
    margin: 0 5px;
}

.dropbtn:hover {
    background-color: #555;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    user-select: none;
}

.dropdown-content a {
    color: #aaa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #777;
    color: #333;
}

.toggle-label {
    position: relative;
    left: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 15px;
    border: 2px solid #ccc;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    user-select: none;
    background-color: #222;
    color: #aaa;
    border-color: #333;
}

.checkbox-inp {
    display: none;
}

.toggle-label:hover {
    background-color: #777;
    color: #333;
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #777;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lb-subcategory-button {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 10px;
    font-size: 16px;
}

.lb-subcategory-button:hover {
    background-color: #555;
}

.lb-subcategory-button .ranking {
    font-weight: bold;
    margin-right: 5px;
    text-align: left;
}

.lb-subcategory-button .medal {
    margin-right: 5px;
    text-align: left;
}

.lb-subcategory-button .username {
    margin-right: auto;
    text-align: left;
}

.lb-subcategory-button .score {
    color: #ccc;
    text-align: right;
    flex-shrink: 0;
    white-space: nowrap;
}